<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/customers">Customers</a>
            <a href="/products">Products</a>
        </nav>
        <ul> 
            {% for element in my_list %} 
                <li>List element: {{ element }}</p> 
            {% endfor %} 
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>