{% extends "base.html" %}

{% block content %}
<body>
    <h1>Submit Form</h1>
    <form action="/api/orders" method="POST">
        <label for="customer_id">CustomerID:</label>
        <input type="text" id="customer_id" name="customer_id" required><br><br>
        <label for="item">Item:</label>
        <input type="text" id="item" name="item" required><br><br>
        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
{% endblock %}